@import "./reset.css";

:root {
    --app-dark-bg: #201c22;
    --app-font-color: #f2f4f6;

    /* COLORS */

    --app-blue: #09f;
    --app-green: #9f0;
    --app-orange: #f90;
    --app-pink: #ff2caa;
    --app-purple: #90f;
}

html {
    scroll-behavior: smooth;   
}
    
body {
    background-color: var(--app-dark-bg);
    background: url('./img/boxesBackground.png');
    background-size: contain;
    overflow: hidden;
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - -
                HEADER
- - - - - - - - - - - - - - - - - - - */ 

header {
    z-index: 1;
}

.title {
    user-select: none;
}

.title, a {
    font-size: 24px;
    height: 40px;
    font-weight: 600;
    color: #000000;
    font-family: inherit;
    line-height: 40px;
    text-decoration: none;
}

header a {
    font-size: 24px;
    font-weight: 300;
    position: relative;
    padding: 1px 0;
}

header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }

:hover::after, header a:focus::after {
    opacity: 1;
    transform: translate3d(0, 1px, 0);
}

header a, .title {
    color: #fff;
}

li {
    display: inline;
    overflow: auto;
    margin-left: 20px;
}

/* Adds margin between all elements inside */
header > * {
    margin: 0 7vw;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    background: linear-gradient(to top left, #90169b75, #b828cb75);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: absolute;
    top: 0;
    justify-content: space-between;
}

.sidebar i {
    display: none;
    font-size: 34px;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
    color: var(--app-font-color)
}

/* - - - - - - - - - - - - - - - - - -
                MAIN
- - - - - - - - - - - - - - - - - - - */ 

.text {
    margin-top: 120px;
    text-align: center;
}

h2 {
    color: var(--app-font-color);
    font-size: 4vw;
}

h3 {
    color: #901c9f;
    font-size: 2vw;
}

.divider {
    width: auto;
    height: 20px;
    color: var(--app-font-color);
}

#map {
    margin-top: 50px;
    height: 70vh;
    animation: fadeIn 3s;
}

/* - - - - - - - - - - - - - - - - - - -
            ANIMATION
- - - - - - - - - - - - - - - - - - - - */

@keyframes loadInOut {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }    
    40% {
        opacity: 100%;
        transform: translateY(0);
    }

    80% {
        opacity: 100%;
        transform: translateY(10%);
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        cursor: default;
        user-select: none;
        transform: translateY(20%);
    }

    100% {
        cursor: pointer;
        user-select: initial;
        opacity: 1;
    }
}

/* 480px and up */
@media only screen and (max-width: 480px) {

    .title::before {
        content: "Web Dev";
    }
    .center {
        font-size: 50px;
    }
    #welcome {
        font-size: 25px;
    }

}

/* 768px and up */
@media only screen and (max-width: 768px) {
    .sidebar ul {
        display: none;
        cursor: pointer;
    }
    .center {
        font-size: 70px;
    }
    #welcome {
        font-size: 30px;
    }
    .row > div {
        width: 100% !important;
    }
    .sidebar i {
        display: initial;
    }
}

/* 992px and up */
@media only screen and (max-width: 992px) {
    .center {
        font-size: 75px;
    }
    #welcome {
        font-size: 35px;
    }
    .row > div {
        width: calc(50% - 10px)
    }
}
